.mobile {
    display:none;
}

.dekstop {
    display: none;
}

@media screen and (max-width: 1028px) {
    .mobile {
        display: block;
    }
    
    .dekstop {
        display: none;
    }
    
}